@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
    --green: hsl(75, 94%, 57%);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--off-black);
    color: var(--white);
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--dark-grey);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 100%;;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 0.5rem;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--green);
}

.links {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

a {
    width: 100%;
    background-color: var(--grey);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: 0.5s;
}

i {
    font-size: 20px;
}

a:hover {
    color: var(--off-black);
    background-color: var(--green);;
}

